#container{
	width: 1000px;
	height: 600px;
	background: black;
	}

#settings{
	width: 292px;
	height: 75px;
	margin-bottom: 50px;
	position: absolute;
	left: 250px;
}
.inputValue{
	width: 100px;
	height: 67px;
	border: solid 3px gray;
	text-align: center;
	font-size: 25px;
}

#width{
	background: orange;
}
#height{
	background: green;
	position: absolute;
	top: 0px;
	left: 106px;
	}

#mosaic{
	clear:both;
	width: 400px;
	height: 400px;
	margin: auto;
	background-color: black;

	position: absolute;
	left: 250px;
	top: 100px;
}

#start{
	position: absolute;
	right: 0px;
}
#stop{
	position: absolute;
	top: 25px;
	right: 0px;
}
#order{
	position: absolute;
	top: 50px;
	right: 0px;
}

.button{
	width: 80px;
	height: 25px;
	border: solid 3px gray;

}
.square{
	float: left;
	width: 40px;
	height: 40px;
	}
